header h1 {
  /*background: transparent url(h1.gif) no-repeat top left;*/
  /*position: relative;*/
  text-align: center;
  background-color: red;
  /*margin-top: 10px;
  display: block;
  width: 400px;
  height: 70px;
  float: right;
  margin-left: auto;
  margin-right: auto;*/
  /*text-indent: 100%;*/
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header nav ul li {
  color: blue;
  display: inline;
  background-color: red;
}

header nav ul {
  text-align: center;
}

